# By default do not allow anything
*

# Allow .gitignore itself
!.gitignore

# Allow all .cpp and .h files in the utils directory
!utils/*.cpp
!utils/*.h

# Allow pattern for 20XX/dayXX/ directories
!20[1-9][0-9]/day[0-2][0-9]/*.cpp
!20[1-9][0-9]/day[0-2][0-9]/*.txt
!20[1-9][0-9]/day[0-2][0-9]/*.md


