# By default do not allow anything
*

# Allow .gitignore itself
!.gitignore

# Allow .txt, .cpp, and .md files
!*.txt
!*.cpp
!*.md

# Allow all .cpp and .h files in the utils directory
!utils/*.cpp
!utils/*.h

# Allow pattern for 2XXX/dayXX/ directories
!20*/day*/*.cpp
!20*/day*/*.txt
!20*/day*/*.md


